:root
{
    --blanco:#ffffff;
    --oscuro:#212121;
    --primario:#ffc107;
    --secundario:#0097a7;
    --gris:#757575;

}


html
{
    font-size: 62.5%;
}

body
{
    font-size: 16px;  /* Cada 1rem equivalente a 10px */
    font-family: 'Krub', sans-serif;
}


.titulo  
{
    text-align: center;
    font-size: 3.8rem;
}

/* .titulo span
{
    font-size: 2rem;
  
} */

h1.titulo span
{
    font-size: 2rem;
}

.navegador_color
{
    background-color: var(--secundario);
}

.contenedor
{
    width: 120rem;
    margin: 0 auto;
}

.navegador_principal
{
    padding: 1rem;
}

.navegador_principal a
{
    color: var(--blanco);
    text-decoration: none;
    
}